.arkea-fondo {
  background-image: radial-gradient(circle, #311e68 0%, #000000 80%);
  background-attachment: fixed;
  height: auto;
  width: 100%;
  color: white;
}

.serVivoB {
  flex: 1 1 280px;
  max-width: 350px;
  background-image: linear-gradient(135deg, #691e1e 0%, #000000 82%);
  padding: 1rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 3%;
}

.reino-nombreB {
  font-size: large;
  text-align: center;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(135deg, #691e1e 0%, #000000 82%);
  padding: 1% 0 1% 0;
  margin-bottom: 2%;
  border: 2px solid;
}

.servivo-descripcionB {
  font-size: medium;
  font-weight: 400;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.473);
  border-radius: 0.5rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
  color: white;
  padding: 2%;
}